@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* breadcrumb */
.breadcrumbs{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding: 10px;
    padding-left: 15px;
}
.breadcrumbs a{
    text-decoration: none;
    color: white;
}
.breadcrumbs__link--active{
    color: orange !important;
}
.breadcrumbs__item{
    display: inline-block;
}
.breadcrumbs__item:no(:last-of-type)::after{
    content: '/';
    margin: 0 5px;
    color: gray;
}
.breadcrumbs li{
    padding-left: 10px;
}